<aside id="left-side-bar-inner" class="left-side-bar-inner top-left">
  <div class="tag-title">
    <span class="side-bar-tag-name">
      Interesting posts
    </span>
  </div>
  {{!-- <input type="checkbox" id="show-all" />
  <label for="show-all" class="show-links">Show More</label>
  <label for="show-all" class="hide-links">Hide</label> --}}
  <div class="top-side-bar-links">
    <ul>
      <li class="left-side-bar-link"><a href="#1">passwd command in linux.</a></li>
      <li class="left-side-bar-link"><a href="#1">Linux security administration
          tasks.</a></li>
      <li class="left-side-bar-link"><a href="#1">Linux directories, pwd, ls,
          cd, mkdir, rmdir, cp, mv.</a></li>
      <li class="left-side-bar-link"><a href="#1">Linux threads:
          synchronization.</a></li>
      <li class="left-side-bar-link"><a href="#1">patch command in Linux.</a></li>
      <li class="left-side-bar-link"><a href="#1">Encryption and decryption with
          gpg.</a></li>
      <li class="left-side-bar-link"><a href="#1">passwd command in linux.</a></li>
      <li class="left-side-bar-link"><a href="#1">Encryption and decryption with
          gpg.</a></li>
      <li class="left-side-bar-link"><a href="#1">passwd command in linux.</a></li>
      <li class="left-side-bar-link"><a href="#1">Linux security administration
          tasks.</a></li>
      <li class="left-side-bar-link"><a href="#1">Linux directories, pwd, ls,
          cd, mkdir, rmdir, cp, mv.</a></li>
      <li class="left-side-bar-link"><a href="#1">Linux threads:
          synchronization.</a></li>
      <li class="left-side-bar-link"><a href="#1">patch command in Linux.</a></li>
      <li class="left-side-bar-link"><a href="#1">Encryption and decryption with
          gpg.</a></li><li><a class="left-side-bar-link" href="#1">passwd
          command in linux.</a></li>
      <li class="left-side-bar-link"><a href="#1">Linux security administration
          tasks.</a></li>
      <li class="left-side-bar-link"><a href="#1">Linux directories, pwd, ls,
          cd, mkdir, rmdir, cp, mv.</a></li>
      <li class="left-side-bar-link"><a href="#1">Linux threads:
          synchronization.</a></li>
      <li class="left-side-bar-link"><a href="#1">patch command in Linux.</a></li>
      <li class="left-side-bar-link"><a href="#1">Encryption and decryption with
          gpg.</a></li>
    </ul>
    </ul>
  </div>
</aside>