<aside id="left-side-bar-inner" class="left-side-bar-inner">
  {{#foreach tags}}
    {{#get "posts" filter="tags:{{name}}"}}
      {{#foreach posts}}
        <li><a target="_blank" href="{{url}}">{{title}}</a></li>
      {{/foreach}}
    {{/get}}
  {{/foreach}}
</aside>