<aside id="left-side-bar-inner" class="left-side-bar-inner">
  <li><a href="#1">passwd command in linux.</a></li>
  <li><a href="#1">Linux security administration tasks.</a></li>
  <li><a href="#1">Linux directories, pwd, ls, cd, mkdir, rmdir, cp, mv.</a></li>
  <li><a href="#1">Linux threads: synchronization.</a></li>
  <li><a href="#1">patch command in Linux.</a></li>
  <li><a href="#1">Encryption and decryption with gpg.</a></li>
</aside>