<aside class="right-side-bar-inner">
  <article class="right-side-bar-article">
    <div class="right-side-bar-article-header">
      Linux
    </div>
    <div class="right-side-bar-article-content-wrapper">
      <ul class="right-side-bar-article-content">
        <li><a href="#1">passwd command in linux.</a></li>
        <li><a href="#1">Linux security administration tasks.</a></li>
        <li><a href="#1">Linux directories, pwd, ls, cd, mkdir, rmdir, cp, mv.</a></li>
        <li><a href="#1">Linux threads: synchronization.</a></li>
        <li><a href="#1">patch command in Linux.</a></li>
        <li><a href="#1">Encryption and decryption with gpg.</a></li>
      </ul>
    </div>
  </article>
  <article class="right-side-bar-article">
    <div class="right-side-bar-article-header">
      Data structures
    </div>
    <div class="right-side-bar-article-content-wrapper">
      <ul class="right-side-bar-article-content">
        <li><a href="#1">Circular doubly linked list.</a></li>
        <li><a href="#1">Introduction to tree data structure.</a></li>
        <li><a href="#1">Array data structure.</a></li>
        <li><a href="#1">Li chao segment tree.</a></li>
        <li><a href="#1">Persistent trie.</a></li>
        <li><a href="#1">All Os one data structure.</a></li>
        <li><a href="#1">Trie data structure in Rust.</a></li>
      </ul>
    </div>
  </article>
  <article class="right-side-bar-article">
    <div class="right-side-bar-article-header">
      Algorithms
    </div>
    <div class="right-side-bar-article-content-wrapper">
      <ul class="right-side-bar-article-content">
        <li><a href="#1">Branch and bound technique.</a></li>
        <li><a href="#1">Check if a line intersects a circle.</a></li>
        <li><a href="#1">Fractional knapsack problem.</a></li>
        <li><a href="#1">Maximum size square submatrix with all 1s.</a></li>
        <li><a href="#1">Find cube root using binary search.</a></li>
        <li><a href="#1">De brujin sequences.</a></li>
      </ul>
    </div>
  </article>
  <article class="right-side-bar-article">
    <div class="right-side-bar-article-header">
      Dynamic programming
    </div>
    <div class="right-side-bar-article-content-wrapper">
      <ul class="right-side-bar-article-content">
        <li><a href="#1">Dynamic programming on trees.</a></li>
        <li><a href="#1">List of 100+ dynamic programming problems.</a></li>
        <li><a href="#1">Longest palindromic sequence(using dynamic programming)</a></li>
        <li><a href="#1">Coin change problem.</a></li>
        <li><a href="#1">Shortest common SuperSequence.</a></li>
      </ul>
    </div>
  </article>
  <article class="right-side-bar-article">
    <div class="right-side-bar-article-header">
      Machine Learning
    </div>
    <div class="right-side-bar-article-content-wrapper">
      <ul class="right-side-bar-article-content">
        <li><a href="#1">Mathematics for Data Science.</a></li>
        <li><a href="#1">One hot encoding in TensorFlow</a></li>
        <li><a href="#1">Initializing Tensors in TensorFlow.</a></li>
        <li><a href="#1">Interview questions in Data Science.</a></li>
        <li><a href="#1">MatMul in TensorFlow.</a></li>
        <li><a href="#1">Pointwise Convolution.</a></li>
      </ul>
    </div>
  </article>
</aside>