
/*Navigation bar style */
.burger_menu{
  margin-bottom: -20px;
  line-height: 45px;
  font-size: 20px;
}
.navbar_collapse a{
text-align: center;
  display: block;
  text-align: center;
  color: #575a60;
  font-weight: normal;
  margin: 30px;
  font-size: 20px;
  padding :10px;
  border-bottom: 1px solid gray;

  transition: all 0.5s ease;
}
.navbar_collapse a:hover{
  color: #3eb0ef;
  border-color: #3eb0ef;
}
.navigation_page_open{
left:0px;
}
#navbar_close{
  cursor: pointer;
  color: #575a60;
  font-size: 40px;
  position: absolute;
  top:10px;
  right:10px;
}
@media (max-width: 700px) {
  .navbar-right{
    margin-right: 10px;
      }


    label{
      display: block;
      margin-right: 0;
      padding-left: 4vw;

    }

    .navbar{
      height: auto;
    }

    .navbar-left .active{
      display: none;
    }

    .navbar-left{
      margin-top: 45px;
      margin-left: 4vw;
      padding-bottom: 0%;
    }

    .navbar-left .nav{
      flex-direction: column;
      align-items: flex-start;
    }

    .navbar-left .nav #vert-div{
      display: none;
    }

    .navbar-left .nav #blog-title{
      display: none;
    }

    .navbar-left .nav li{
      margin-top: 4%;
      margin-bottom: 4%;
    }

    .navbar-left .nav li a{
      padding-bottom: 0%;
    }


}
