/*Navigation bar style */
.burger_menu {
  margin-bottom: -20px;
  line-height: 45px;
  font-size: 20px;
}
.navbar_collapse a {
  text-align: center;
  display: block;
  text-align: center;
  color: #575a60;
  font-weight: normal;
  margin: 30px;
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid gray;

  transition: all 0.5s ease;
}
.navbar_collapse a:hover {
  color: #3eb0ef;
  border-color: #3eb0ef;
}
.navigation_page_open {
  left: 0px;
}
#navbar_close {
  cursor: pointer;
  color: #575a60;
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.dropdown-navbar {
  position: relative;
  z-index: 300;
  /* box-shadow: 0 0 10px #000; */
  /* background: black; */
  /* height: 40px; */
}

.dropdown-navbar ul {
  display: flex;
  position: relative;
  margin: -11px auto 0 -20px;
  width: 100%;
}

.nav-link {
  padding: 0 1rem;
}

.dropdown-navbar .nav-link {
  /* position: relative; */
  list-style: none;
  -webkit-transition: background-color ease-in 300ms;
  -moz-transition: background-color ease-in 300ms;
  -ms-transition: background-color ease-in 300ms;
  -o-transition: background-color ease-in 300ms;
  transition: background-color ease-in 300ms;
}

.dropdown-navbar li:hover {
  opacity: 1;
}

.dropdown-navbar .nav-link ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  padding: 0 470px;
  margin: 0 -20px;
}

.dropdown {
  display: flex;
  flex-direction: column;
}
.dropdown li {
  list-style: none;
  padding: 1rem;
}

.dropdown-navbar li:hover > .dropdown {
  visibility: visible;
  opacity: 1;
  background-color: #000;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 376px;
  width: 100%;
  flex: wrap;
  padding: 0;
  margin: 0;
}

.link {
  display: flex;
}
.link a {
  padding-right: 3px;
}
.drop-icon {
  padding: 6px 0 0 0px;
  width: 15px;
}

/* responsive design */
@media (max-width: 700px) {
  .navbar-right {
    margin-right: 10px;
  }

  label {
    display: block;
    margin-right: 0;
    padding-left: 4vw;
  }

  .navbar-left {
    padding-left: 4vw;
    display: none;
  }
  .dropdown-navbar .nav-link ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 20px;
    overflow-x: auto;
    /* padding: 0 470px;
    margin: 0 -20px; */
  }
}
